* {
  font-size: 100%;
  font-family: 'Garamond', serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  background-color: var(--btn-bg-color); /* Green */
  border: none;
  color: var(--btn-font-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {background-color: var(--btn-hover-color);}

a {
  color: var(--a-color);
  background-color: transparent;
  text-decoration: none;
}
  
a:visited {
  color: var(--a-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1, label, .p {
  color: var(--font-color)
}

input[type='number'] {
  margin: 0.5rem;
  width: 40vw;
  max-width: 40rem;
  min-width: 20rem;
  padding: 1rem;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}

textarea {
  margin: 0.5rem;
  padding: 1rem;
  width: 40vw;
  max-width: 40rem;
  min-width: 20rem;
  min-height: 5rem;
  max-height: 30rem;
  border-width: 2px;
  border-radius: 10px;
  font-size: 1rem;
  resize: vertical;
}

textarea:focus, input:focus{
  outline: none;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p {
  font-size: 2rem;
}

.horizontal {
  flex-direction: row ;
}

#input {
  padding: 1rem;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  font-size: 2rem;
}

#results {
  flex-direction: row;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 8rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}